/* Badeen Font family */
@import url('https://fonts.googleapis.com/css2?family=Badeen+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container {
  width: 350px;
  height: 350px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .time-display {
    font-family: 'Badeen Display';
    font-size: 100px;

    /* font-weight: bold; */
  }
}